.footer {
    background: #282c34;
    /* min-height: 100vh; */
    max-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* font-size: calc(10px + 2vmin); */
    color: white;
}

.networks {
    padding-top: 10px;
}

.grid {
    max-height: 150px;
}