.navbar {
  padding: 20px;
  justify-content: space-around;
}

.img-header {
  animation: slide-in 0.7s both;
  filter: invert(0.3) sepia(1) hue-rotate(320deg) saturate(1000%);
}

@keyframes slide-in {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}

.button {
  animation: opacity 2s both;
  animation-delay: 1s;

}

.links {
  text-decoration: none;
  color: white;
}

@keyframes opacity {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

.navbar_body {
  background: #282c34;
}